.personal-data__wrapper {
  margin-bottom: 40px;
  max-width: 460px;
  margin-right: auto;
  margin-left: auto;
}

.personal-data__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding-bottom: 15px;
  padding-top: 30px;
  border-bottom: $single-line;

  .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;

    label {
      flex: 1;
    } 

    input {
      flex: 2;
      height: 40px;
      border: $single-line;
      padding-left: 15px;
    }
  }

  &:last-child {
    margin-bottom: 30px;
  }
}

@media (max-width: 660px) {
  .personal-data__fieldset {
    padding: 15px;

    .form-row {
      flex-direction: column;

      input {
        min-height: 40px;
      }
    }
  }
}