.general__data {
  margin-top: 40px;
}

.general__data--item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: $single-line;
  height: 45px;

  &:nth-child(odd) {
    margin-right: 60px;
  }
}

.general__data--cat {
  font-weight: $font-bold;
  font-size: 16px;
}

.general__data--value {
  font-weight: $font-light;
  font-size: 16px;
  color: $color-dark;


}

.general__chart {
  margin-top: 70px;

  .general__chart--buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .general__chart--image {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 600px) {
  .general__chart {
    .general__chart--buttons {
      flex-direction: column;
    }
  }
}
