//mobile menu
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: $height-header 1fr $height-footer;
  grid-template-areas: "header"
    "main"
    "footer";
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  grid-area: header;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-medium;
  line-height: $height-header; // row-height

  .header__brand {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-dark;
    width: 100vh;

    img {
      margin-left: 20px;
      width: 90px;
    }
  }

  //mobile-menu below
  .header__menu {
    justify-content: flex-end;
    flex-direction: row;
    display: none;
  }
  .header__wallet {
    font-weight: $font-regular;
    font-size: 20px;
    border-left: solid 1px $color-semi-light;

    .icon {
      font-size: 12px;
      margin-left: 15px;
      margin-right: 15px;


      &:first-child {
        font-size: 18px;
      }
    }
  }

  .header__notification,
  .header__exit {
    border-left: solid 1px $color-semi-light;
    min-width: 60px;
    display: flex;
    justify-content: center;
  }

  .header__avatar {
    border-left: solid 1px $color-semi-light;
    padding: auto 10px;
  }

}

.sidenav {
  grid-area: sidenav;
  width: $width-sidenav;
  height: 100%;
  position: fixed;
  top: $height-header;
  display: none;
  flex-direction: column;
  overflow-y: hidden;
  background-color: $color-dark;
  color: $color-light;


  .sidenav__navList {
    padding: 0;
  }

  .sidenav__profile {
    padding-left: 20px;
  }

  .sidenav__heading {
    text-transform: uppercase;
    font-weight: $font-medium;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.mobile-menu {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;

  .mobile-menu__icon,
  .mobile-menu__icon:after,
  .mobile-menu__icon:before {
    position: absolute;
    top: 19px;
    right: 10px;
    left: 10px;
    height: 2px;
    background: $color-light;
    content: "";
  }

  .mobile-menu__icon {
    &:before {
      top: -7px;
      right: 0;
      left: 0;
    }

    &:after {
      top: 7px;
      right: 0;
      left: 0;
    }
  }

}

.navlist {
  padding-bottom: 25px;
  border-bottom: solid 1px $color-medium;

  li {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;

    &:hover {
      background-color: $color-dark-hover;
      color: $color-white;
    }

    .navlist--icon {
      margin-right: 15px;
    }
  }

}

.main {
  grid-area: main;
  background-color: $color-semi-light;
  padding: 18px;
  display: flex;
  flex-direction: column;
}

section {
  background-color: $color-white;
  color: $color-medium;
  box-shadow: 0px 0px 21px 0 rgba(15, 13, 15, 0.2);
  width: 100%;
  //padding: 18px;
}

.footer {
  grid-area: footer;
  background-color: $color-white;
}

@media (min-width: 660px) {
  .grid-container {
    grid-template-columns: $width-sidenav 1fr;
    grid-template-rows: $height-header 1fr $height-footer;
    grid-template-areas: "header header"
    "sidenav main"
    "sidenav footer";
    min-height: 100vh;
  }

  .sidenav {
    display: block;
  }

  .header {
    .header__brand {
      width: 190px;
      }

    .header__menu {
      display: flex;
    }
  }
}
