.avatar {
  display: flex;
  align-items: center;
  cursor: pointer;

  .avatar__image{
    position: relative;

    &:after {
      content: '';
      background-color: $color-three;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      right: 8px;
      top: 2px;
    }

    img {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
  }

  .avatar__name {
    color: $color-one;
    line-height: 45px;
    margin: 0;
  }
}

.avatar--mini{
  display: flex;
  justify-content: flex-start;

  .avatar--mini__image{
    margin-right: 15px;
  }

  .avatar--mini__name {
    font-weight: $font-light;
    color: $color-one;
    margin-right: 15px;
  }
}
