.btn {
  min-height: 40px;
  border-radius: $border-radius;
  color: $color-white;
  outline: none;
  border: 0;
  cursor: pointer;
  font-weight: $font-light;
}

.btn-refresh {
  height: 40px;
  width: 40px;
  background-color: $color-two;

  &:hover {
    background-color: $color-two-hover;
  }
}

.btn-gray{
  background-color: $color-white;
  color: $color-medium;
  margin: auto 20px;
  padding-left: 30px;

  &:hover {
    background-color: $color-semi-light;
  }
}

.btn-1 {
  position: relative;

  &:before{
    content: '';
    position: absolute;
    right:15px;
    top:15px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-one;
  }
}

.btn-2 {
  position: relative;

  &:before{
    content: '';
    position: absolute;
    right:15px;
    top:15px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-two;
  }
}

.btn-3 {
  position: relative;

  &:before{
    content: '';
    position: absolute;
    right:15px;
    top:15px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-three;
  }
}
