.input-wrapper {
  display: flex;
  justify-content: center;
  padding: 35px;
  border-bottom: solid 1px $color-semi-light;
}

.input-date {
  display: flex;

  .date-wrapper {
    border: 1px solid $color-semi-light;
    border-radius: $border-radius;
    margin-right: 15px;

    input {
      border: 0;
      height: 40px;
      padding-left: 15px;
      font-weight: $font-light;
      font-size: 14px;
      font-family: $font-text;

      &:first-child {
        border-right: 1px solid $color-semi-light;
      }

      &:nth-child(2) {
        padding-right: 75px;
        position: relative;

        &::before {
          content: '\0048';
          position: absolute;
          right: 15px;
          font-family: 'Glyphter';
        }
      }

    }
  }

}
