.input-wrapper {
  display: flex;
  justify-content: center;
  padding: 35px;
  border-bottom: $single-line;
}

.input-date {
  display: flex;

  .date-wrapper {
    border: $single-line;
    border-radius: $border-radius;
    margin-right: 15px;

    input {
      border: 0;
      height: 40px;
      padding-left: 15px;
      font-weight: $font-light;
      font-size: 14px;
      font-family: $font-text;
      width: 150px;
      background-color: $color-white;

      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }

      &::-webkit-inner-spin-button {
        margin-top: 10px;
      }

      &:first-child {
        border-right: $single-line;
      }

      &:nth-child(2) {
        padding-right: 15px;
        position: relative;
        width: 175px;

        &::before {
          content: '\0048';
          position: absolute;
          right: 15px;
          font-family: 'Glyphter';
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .input-wrapper {
    padding: 15px;
  }

  .input-date {
    .date-wrapper {
      max-width: 180px;

      input {
        width: 175px;

        &:first-child {
          border-right: 0;
        }
      }
    }
  }
}
