.pagination__wrapper {
  margin-bottom: 35px;

}

.pagination {
  display: flex;
  justify-content: center;

  li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;

    a {
      font-size: 16px;

      span {
        color: $color-medium;
      }
    }

    &:hover {
      background-color: $color-semi-light;
    }
  }
}
