.slidercontainer {
  width: 100%; /* Width of the outside container */
  position: relative;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: transparent; /* Grey background */
  outline: none; /* Remove outline */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 26.0px 15px;
  border-color: transparent transparent $color-two transparent;
  transform: translateY(75%);

  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 26.0px 15px;
  border-color: transparent transparent $color-two transparent;
  transform: translateY(75%);
  cursor: pointer; /* Cursor on hover */
}

.box {
  width: 0;
  height: 0;

  position: relative;
  left: 50%;
}
.bar {
  position: absolute;
  z-index: 1;
  left: 13px;
  right: 13px;
  top: 10px;
  height: 6px;
  background-color: $color-semi-light;
  overflow: hidden;

}
.fill {
  display: block;
  width: 50%;
  height: 100%;
  background-color: $color-two;
}

#value {
  position: absolute;
  top: 30px;
  left: -30px;
  width: 80px;
}
